<a href="https://colab.research.google.com/github/minakim409/snowball_internship/blob/main/twitter_hashtags_accounts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#I run this on google colab, so if you wanna run this on other debugger then 'pip install' should be in your command
#and ignore this, when you run other debugger, this is for mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#This is Mina account API for now, will change it once snowballforgood api is verified
#Or maybe you can just use it
import twitter
# APIKey = 8oeu7hNA2d0nLoxpOSQEPFhhG
#api secret key = j1fCcuFgmTxABcS6OEi4HwJiLMm8mQYqF4MLOluHMsj3XdmRqq
#bearer token = AAAAAAAAAAAAAAAAAAAAAOS8RQEAAAAAdHjYkCA%2B8hj77iM7RVR0yon7HlM%3DwLvnN57pjvZGLQNKi4kiArujmWxrfly1ElNjohs0OVhHeKaCHC
# access token =  1412950945638490121-eRw1piChNTMEDi48gLjACqqiC8M1Xc
# access token secret = HVsjbOqNxkoY7bMmtiY03mSKOEafLgNE1Ny1vfmZCUXBL
twitter_consumer_key = "kNqVvzCfwffU9u9cYhJAyyrAY"
twitter_consumer_secret = "esNRBSigCMzThioVvxIwQJ5APRNjKEFOwhUAvoGujnhYvhbRZv"  
twitter_access_token = "1412950945638490121-XyHJhhAJ0t3x90Y5SM3KJyE59XwgCc"
twitter_access_secret = "t9J0rrmI8KswDF0Xr9ghMVrdZFgCFYxPW0yK8N5iHOjnm"

In [ ]:
!pip install tweepy
!pip install pandas
import pandas as pd
import json
import csv

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)

In [ ]:
import tweepy
auth = tweepy.OAuthHandler(twitter_consumer_key, twitter_consumer_secret)
auth.set_access_token(twitter_access_token, twitter_access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [1]:
#q = "hashtag that you wanna find", Since = "enter the date that infos from when", until ="enter the date that infos until when, but if it's until today, you don't have to type it" 
#items() -> in bracket, you can type how many data taht you want, so basically if you want gather 1000 data, then enter 1000 
#After run this code, it gives you post date, user screen name(user id), their tweet 
rows = []
for tweet in tweepy.Cursor(api.search, 
                    q="FreeHongKong",
                    Since="2021-06-01",
                    #until="2014-02-15", 
).items(1500):
  # if (not tweet.retweeted) and ('RT @' not in tweet.text):
    temp = [tweet.created_at,tweet.user.screen_name, tweet.text]
    rows.append(temp)

NameError: ignored

In [ ]:
#This is just for testing if I get a right data
rows[0][2]

'RT @DanielFreeHK51: Day 320, #BringThemBack, #BringThemALLBack, #save12hkyouths from #CCP.\n\nFree ALL political prisoners &amp; defend our right…'

In [ ]:
#checking if they contain deplicated user name, if it has, drop on the data
df1 = pd.DataFrame(rows, columns = ['post time', 'screen name', 'text'])
df2 = df1.drop_duplicates(subset=['screen name'])
df2

               post time  ...                                               text
0    2021-07-09 05:01:28  ...  RT @DanielFreeHK51: Day 320, #BringThemBack, #...
1    2021-07-09 04:55:37  ...  @bueti Heartfelt thanks for doing a good deed ...
2    2021-07-09 04:53:52  ...  RT @hkerschedule: 此新聞轉載自Instagram, 齊上齊落廣傳最新消息 ...
3    2021-07-09 04:51:13  ...  RT @Zenzai26haiD: #save12hkyouths #AndyIsMissi...
6    2021-07-09 04:14:29  ...  @GenshinImpact Bring back Rosaria's original b...
...                  ...  ...                                                ...
1495 2021-07-04 23:19:36  ...  RT @KirstyRobson_: On Thursday, I attended the...
1496 2021-07-04 23:14:04  ...  @RampCapitalLLC I got one! Being rich and in t...
1497 2021-07-04 23:10:19  ...  RT @jooeysiiu: Happy #FourthofJuly !\n\nWhile ...
1498 2021-07-04 23:00:11  ...  RT @KirstyRobson_: On Thursday, I attended the...
1499 2021-07-04 23:00:08  ...  RT @jooeysiiu: Happy #FourthofJuly !\n\nWhile ...

[696 rows x 3 columns]

In [ ]:
#Set the location that where you wanna save data
output_file_name = "/content/drive/MyDrive/hongkong.csv"
df2.to_csv(output_file_name, index = False)

In [ ]:
#to see how many data it has, you can ignore it
len(df2)

484

**Here ends data scraping from twitter**

**From here, it transfer data to https://phantombuster.com/ format, gives twitter id link**

In [ ]:
#load your data
df = pd.read_csv('/content/drive/MyDrive/Social accounts/twitter_hashtag/hongkong.csv')
df

               post time  ...                                               text
0    2021-07-09 05:01:28  ...  RT @DanielFreeHK51: Day 320, #BringThemBack, #...
1    2021-07-09 04:55:37  ...  @bueti Heartfelt thanks for doing a good deed ...
2    2021-07-09 04:53:52  ...  RT @hkerschedule: 此新聞轉載自Instagram, 齊上齊落廣傳最新消息 ...
3    2021-07-09 04:51:13  ...  RT @Zenzai26haiD: #save12hkyouths #AndyIsMissi...
4    2021-07-09 04:14:29  ...  @GenshinImpact Bring back Rosaria's original b...
..                   ...  ...                                                ...
691  2021-07-04 23:19:36  ...  RT @KirstyRobson_: On Thursday, I attended the...
692  2021-07-04 23:14:04  ...  @RampCapitalLLC I got one! Being rich and in t...
693  2021-07-04 23:10:19  ...  RT @jooeysiiu: Happy #FourthofJuly !\n\nWhile ...
694  2021-07-04 23:00:11  ...  RT @KirstyRobson_: On Thursday, I attended the...
695  2021-07-04 23:00:08  ...  RT @jooeysiiu: Happy #FourthofJuly !\n\nWhile ...

[696 rows x 3 columns]

In [ ]:
#Double check if it has duplicated ids
df = df.drop_duplicates(subset=['screen name'])
df = df.reset_index(drop=True)
s = df['screen name']
s

0      152aqtnQIX2SeO4
1        happy_bogummy
2          LLL86262463
3      TomWong93767868
4      FreeUyghurWomen
            ...
691       yoonhoonjean
692           iamWolby
693       samuelgbaron
694     Daniel23501037
695         OliviaEnos
Name: screen name, Length: 696, dtype: object

In [ ]:
for i in range(len(s)):
  s[i] = "https://twitter.com/"+s[i]

s

0      https://twitter.com/152aqtnQIX2SeO4
1        https://twitter.com/happy_bogummy
2          https://twitter.com/LLL86262463
3      https://twitter.com/TomWong93767868
4      https://twitter.com/FreeUyghurWomen
                      ...
691       https://twitter.com/yoonhoonjean
692           https://twitter.com/iamWolby
693       https://twitter.com/samuelgbaron
694     https://twitter.com/Daniel23501037
695         https://twitter.com/OliviaEnos
Name: screen name, Length: 696, dtype: object

In [ ]:
df = pd.DataFrame(s)
display(df)

                             screen name
0    https://twitter.com/152aqtnQIX2SeO4
1      https://twitter.com/happy_bogummy
2        https://twitter.com/LLL86262463
3    https://twitter.com/TomWong93767868
4    https://twitter.com/FreeUyghurWomen
..                                   ...
691     https://twitter.com/yoonhoonjean
692         https://twitter.com/iamWolby
693     https://twitter.com/samuelgbaron
694   https://twitter.com/Daniel23501037
695       https://twitter.com/OliviaEnos

[696 rows x 1 columns]

In [ ]:
output_file_name = "/content/drive/MyDrive/Social accounts/twitter_hashtag/hongkong_id.csv"
df.to_csv(output_file_name, index = False)